.fa {
	padding: 10px;
	font-size: 30px;
	border: 0;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
	border-radius: 2px;
}

	.fa:hover {
		opacity: 0.7;
	}

.fa-google {
	background: #dd4b39;
	color: white;
}

.fa-facebook {
	background: #3B5998;
	color: white;
}

.si-text {
	font-size: 18px;
	margin-left: 3px;
	position: relative;
	top: -5px;
}